 <div class="row">
    <div class="col-md-4">
      <h4 class="font-weight-bold my-4">コメント一覧</h4>
    </div>
  </div>  
<div class="row">
  <div class="col">
    <table class='table mx-auto my-5 w-75'>
      <thead>
        <tr class="bg-light">
          <th>ID</th>
          <th>投稿者名</th>
          <th>題名</th>
          <th>本文</th>
        </tr>
      </thead>

      <% post_comments.each do |post_comment| %>

      <tbody>
        <tr>
          <td><%= post_comment.id %></td>
          <td><%= link_to post_comment.user.name, post_post_comment_path(post_comment.post, post_comment) %></td>
          <td><%= post_comment.title %></td>
          <td><%= post_comment.body %></td>
          <td><div id="comment_raty" 
                 data-score="<%= post_comment.star %>" 
                 data-star-on="<%= asset_path('star-on.png') %>"
                 data-star-off="<%= asset_path('star-off.png') %>"
                 data-star-half="<%= asset_path('star-half.png') %>"></div></td>
        </tr>
      </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>
