<%= render "layouts/error", obj:@post %>
<div class="container">
  <div class="row">
    <div class="col-mg-2">
      <h4 class="font-weight-bold my-4 bg-light">商品新規登録</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <%= form_with model: @post, url: posts_path do |f| %>

        <table class='mx-auto'>
          <tr>
            <td>画像投稿</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>題名</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td>本文</td>
            <td><%= f.text_area :body %></td>
          </tr>
          <tr>
            <td>公開ステータス</td>
            <td class ="custom-control custom-radio custom-control-inline">
              　<%= f.radio_button :is_active, true, checked: @post.is_active == true, class: 'custom-control-input', id: 'status-active' %>
                <%= f.label :is_active,'表示', class: 'custom-control-label', for: 'status-active' %>
            </td>
            <td class ="custom-control custom-radio custom-control-inline">
              <%= f.radio_button :is_active, false, checked: @post.is_active == false, class: 'custom-control-input', id: 'status-deleted' %>
              <%= f.label :is_active,'非表示', class: 'custom-control-label', for: 'status-deleted' %>
            </td>
          </tr>
        </table>

          <div class="text-center"><%= f.submit '新規登録',class: "btn btn-success" %></div>

      <% end %>

    </div>
  </div>
</div>

