<h2>投稿詳細</h2>
#画像の有無で表示が変わる
<% if @post.image.attached? %>
  <div class="image-frame">
    <%= image_tag @post.image %>
  </div>
<% end %>

<p>氏名</p>
<p><%= @post.user.name %>

<p>題名</p>
<p><%= @post.title %>

<p>本文</p>
<p><%= @post.body %>
<%= link_to "一覧へ", posts_path %>
<% if @user == current_user %>
  <%= link_to "編集する", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>