<div class="container bg-white">
  <div class="row">
    <div class="col mt-5">
      <h2>投稿一覧（表示数<%= posts.count %>件）</h2>
      <!-- タグの一覧（投稿全体でのタグ一覧） -->
      <div class="row mt-5">
        <% posts.each do |post| %>
          <!-- 横並び4つを実現 -->
          <div class="col-md-3 d-flex align-items-stretch mb-4">
            <div class="card mx-auto">
              <%= link_to post_path(post), class: "col text-decoration-none text-dark" do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image[0], class: 'card-img-top', alt: post.title %>
                <% else %>
                  <%= image_tag 'no_image.jpg', class: 'card-img-top', alt: 'No Image' %>
                <% end %>
                <div class="card-body">
                  <div class="mb-2">
                    <%= post.user.name %>
                  </div>
                  <div class="mb-2">
                    <%= post.title %>
                  </div>
                  <div class="mb-5">
                    <%= truncate(post.body, length: 100) %> <!-- 投稿内容を100文字まで表示 -->
                  </div>

                  <!-- 投稿ごとのタグ一覧 -->
                  <div>
                    <% post.tags.each do |tag| %>
                      <i class="fa-sharp fa-solid fa-tag"></i>
                      <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>
