<% if @records.present? %>
  <% if @range == 'user' %>
      <h3>Users search for "<%= @word %>"</h3>
      <%= render 'public/users/index', users: @records %>
  <% elsif @range == 'post' %>
      <h3>Posts search for "<%= @word %>"</h3>
      <%= render 'public/posts/index', posts: @records %>
  <% end %>
<% else %>
  <p>No results found for "<%= @word %>".</p>
<% end %>