<h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
  <%= @user.name %> さんとのチャット
</h2>

<!-- メッセージ表示エリア -->
<div class="message-container bg-white" style="max-height: 400px; overflow-y: auto; padding-bottom: 60px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div class="d-flex justify-content-end mb-3">
        <p class="bg-secondary text-white p-2 rounded" style="max-width: 75%; word-wrap: break-word;">
          <%= chat.message %>
        </p>
      </div>
    <% else %>
      <div class="d-flex mb-3">
        <%= image_tag @user.get_profile_image, size: '30x30', class: 'rounded-circle' %>
        <p class="bg-light p-2 rounded ml-2" style="max-width: 75%; word-wrap: break-word;">
          <%= chat.message %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<!-- エラー表示 -->
<div class="errors">
  <%= render "layouts/error", obj: @chat %>
</div>

<!-- メッセージ送信用フォーム -->
<%= form_with model: @chat, data: {remote: true}, class: "chat-form" do |f| %>
  <div class="input-group bg-white p-2 shadow" >
    <%= f.text_field :message, class: "form-control", placeholder: "メッセージを入力", style: "max-width: 85%;" %>
    <%= f.submit "送信", class: "btn btn-dark btn-sm ml-2" %>
  </div>
  <%= f.hidden_field :room_id, value: @room.id %>
<% end %>
