<% if @records.present? %>
  <% if @range == 'user' %>
      <h3> "<%= @word %>"の検索結果</h3>
      <%= render 'admin/users/index', users: @records %>
  <% elsif @range == 'post' %>
      <h3>"<%= @word %>"の検索結果</h3>
      <%= render 'admin/searches/post_index', posts: @records %>
  <% end %>
<% else %>
  <p>No results found for "<%= @word %>".</p>
<% end %>