<div class="row">
  <div class="col-md-4">
    <h4 class="font-weight-bold my-4">コメント一覧</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class='table mx-auto my-5 w-75'>
      <thead>
        <tr class="bg-light">
          <th>ID</th>
          <th>投稿者名</th>
          <th>題名</th>
          <th>本文</th>
          <th>評価</th>
        </tr>
      </thead>
      <tbody>
        <% post_comments.each do |post_comment| %>
          <tr>
            <td><%= post_comment.id %></td>
            <td>
              <% if post_comment.admin.present? %>
                <% if admin_signed_in? %>
                  <%= link_to "管理者 (ID: #{post_comment.admin.id})", admin_post_post_comment_path(post_comment.post, post_comment), class: "text-secondary" %>
                <% else %>
                  <span class="text-secondary">管理者 (ID: <%= post_comment.admin.id %>)</span>
                <% end %>
              <% else %>
                <%= link_to post_comment.user.name, post_post_comment_path(post_comment.post, post_comment) %>
              <% end %>
            </td>
            <td><%= post_comment.title %></td>
            <td><%= post_comment.body %></td>
            <td><div id="comment_raty" data-score="<%= post_comment.star %>"></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
