<div id="star_<%= post_comment.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%= post_comment.id %>');
  if (elem == null) return;
  
  elem.innerHTML = "";
  let opt = { 
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= post_comment.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});

  </script>