<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4 class="font-weight-bold my-4 bg-light">ユーザー一覧</h4>
    </div>
    <div class="col-md-7 offset-md-1"></div>

  <div class="row">
    <div class="col">

      <table class='table mx-auto my-5 w-75'>
        <thead>
          <tr class="bg-light">
            <th>ID</th>
            <th>投稿者名</th>
            <th>得意分野</th>
            <th>本文</th>
          </tr>
        </thead>

        <% users.each do |user| %>
S
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user_path(user.id) do %>
                <%= user.name %>
                <% end %></td>
            <td><%= user.specify_field %></td>
            <td><%= user.introduction %></td>
          </tr>
        </tbody>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
