<h2><%= @user.name %>さんの詳細</h2>
<p>氏名</p>
<p><%= @user.name %></p>
<p>紹介文</p>
<p><%= @user.introduction %></p>
<p>得意分野</p>
<p><%= @user.specify_field %></p>
<%=link_to "編集する", users_information_edit_path, class:"btn btn-prymary w-25" %>
<p><%= @user.name %>の投稿一覧</p>
<%= render 'admin/users/post_index', posts: @posts %>