<header class="bg-success">
  <div class="container">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-center align-items-center">
        <a class="navbar-brand" href="/"><span>DLR</span></a>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <%= render 'layouts/search' %>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center flex-column">
          <nav class="navbar navbar-expand-lg p-0">
            <ul class="nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", mypage_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-secondary text-dark ml-3" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link btn btn-outline-secondary text-dark mx-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link btn btn-outline-secondary text-dark ml-3" %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
    <div>    
</header>